h1{
    color :blue;
    background-color: brown;
}

h2{
    color : red;
    background-color: aqua;
}

h3{
    color : green;
    background-color: chartreuse;
}

p1{
    color : orange;
    background-color:black;
}